[Unit]
Description=FlareSolverr Go
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=flaresolverr
Group=flaresolverr
WorkingDirectory=/opt/flaresolverr-go
ExecStart=/opt/flaresolverr-go/flaresolverr-linux-amd64
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
